#step_2{
    display: none;
}

.footer_area {
	background: #34495e;
	text-align: center;
	color: #FFF;
	padding: 10px;
}

.footer_area p{
    margin:0;
}

.navbar-light .navbar-nav .nav-link {
	color: #575757;
	padding: 7px 20px;
}
.header_area{
    padding: 10px 0;
}

.page-wappper{
    padding-top: 100px;
    padding-bottom: 400px;
}
.banner-area{
	padding:60px 0;
	background:url('../images/banner-bg.jpg') no-repeat scroll 0 0 / 100% 100%;
}
.banner-left img{ 
	max-width: 80%;
}
.banner-right h1 {
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 0 2px #000;
}
.easy-steps {
	overflow: hidden;
	padding: 60px 0;
	background: #F7F7F7;
}
.easy-step-img{
	text-align: center;
}
.easy-step-img img { 
	max-width: 400px;
}
.easy-step-content h2 {
	font-weight: bold;
	color: #000;
	border-bottom: 2px dotted #000;
	padding-bottom: 10px;
}
.easy-step-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.easy-step-list li i {
	width: 30px;
	height: 30px;
	background: #22ca80;
	color: #FFF;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin-right: 5px;
}
.easy-step-list li {
	line-height: 40px;
} 

.certificate-view {
	border: 2px solid #000;
	margin: 100px 0;
	text-align: center;
	padding: 20px;
}


.gradiant_1 {
	background-color: #0beef9;
	background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
}
.gradiant_1 h2,
.gradiant_1 h6{
	color: #FFF;
}
.gradiant_2 {
	background-color: #726cf8;
	background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
}
.gradiant_2 h2,
.gradiant_2 h6{
	color: #FFF;
}

.gradiant_3 {
	background-color: #08e1ae;
	background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}
.gradiant_3 h2,
.gradiant_3 h6{
	color: #FFF;
}

.link_active a{
	color:#22ca80 !important
}



@media all and (max-width:767px){
	.banner-area .row .col-md-6:last-child{
		order:-1;
	}
	.banner-right {
		text-align: center;
		margin-bottom: 30px;
	}
	.banner-area{
		text-align: center;
	}
}